<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormLogin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WinFormLogin.Properties.Settings>
            <setting name="WinFormLogin_Portal_SIM_ServiceService" serializeAs="String">
                <value>http://idas.tku.edu.tw:80/SIMService/SIM_ServiceService</value>
            </setting>
        </WinFormLogin.Properties.Settings>
    </applicationSettings>
</configuration>